node_modules/
.turbo/
.next/
dist/
build/
*.pyc
__pycache__/
*.egg-info/
.venv/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
coverage/
.turbo/
*.tsbuildinfo
next-env.d.ts
out/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.*.json
!.vscode/
*.vsix
